.chart-container {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
    /* width: 100vh; */
    gap: 2rem;
  }
  
  .line-chart-container,
  .pie-chart-container {
    display: flex;
    gap: 1rem;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow);
    width: 60vw; /* Set line chart container to 70% width */
  }
  
  .pie-chart-container {
    width: 40vw; /* Set pie chart container to 30% width */
    justify-content: flex-start; /* Align items to the start for the pie chart container */
  }

  /* .data-chart-source-type{
    object-fit: contain;
  }
   */
   .chart-heading{
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 1.75rem;
    opacity: 0.8;
   }



   .chart-container .line-chart {
    height: auto;
    width: auto;
   }
   .line-chart canvas{
         height: auto;
         width: auto;
   }
 
  
