
/* .list-view-container{
    margin: 30rem;
}
/* TransactionTable.css */
.list-view-container {
    padding: 20px;
    width: 100vw;
  }
  
  .list-view-container input {
    margin-bottom: 20px;
  }
  
  .list-view-container select {
    width: 120px;
    margin-left: 10px;
  }
  
  .table-container {
     box-shadow: var(--shadow);
     margin-top: 2rem;
  }
  .table-container .table-heading{
    margin: 1rem;
    padding: 1rem;

  }
  
  /* You can add more styles as needed */
  /* TransactionTable.css */
.file-upload-container {
    margin-top: 10px;
    margin-bottom: 20px;

    
  }
  
  .label {
    margin-right: 10px;
  }
  
  .file-input {
    display: none;
  } */
  
  .import-button,
  .export-button {
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
  }
  
  .export-button {
    background-color: #28A745;
  }
  .input-container{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    gap: 5rem;
  }
.ant-select-single{
    width:100%;
}

  .input-tag {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

.input-tag[type=text]:focus,
.input-tag[type="password"]:focus {
	border-color:cornflowerblue;
}

.input-tag[type=submit] {
	padding:15px 50px;
	width:auto;
	background:#1abc9c;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	float:right;
	clear:right;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

.input-tag[type=submit]:hover {
	opacity:0.8;
}

.input-tag[type="submit"]:active {
	opacity:0.4;
}
  



/* Radio container style */

 .radio-parent{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content:  space-between;
    align-items: flex-end;

    margin-left: 10rem ;
    margin-right: 10rem; 
}